$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...
*{
  padding: 0;
  margin: 0;
}

.Header {
  padding: 4px;
  background: gray;
  height: 38px;
  width: 100%;
}
.Header-component {
}
.Header-content {
  float: left;
}
.Header-content-switch {
  height: 32px;
  float: left;
}
.Header-content-switch img {
  height: 28px;
}
.Header-user-pulldown {
  float: right;
  height: 32px;
  width: 32px;
}
.Header-user-pulldown img {
  height: 28px;
}

.comment {
  margin: 10px;
  padding: 10px;
  width: 500px;
  border: thin solid #888;
  border-radius: 2px;
  margin-right: auto;
  margin-left : auto;
}
.comment .comment-attrs {
  height: 90px;
}
.comment-attrs .attribute-text {
  height: 26px;
  line-height: 26px;
  margin: 2px;
  float: left;
}
.comment-attrs .attribute-img img {
  height: 26px;
  line-height: 26px;
  margin: 2px;
  float: left;
}
.comment-attrs .topic-attr {
  height: 30px;
}
.topic-attr .important-marker img {
  float: right;
}
.comment-attrs .user-attr {
  height: 30px;
}
.comment-attrs .comment-attr {
  height: 30px;
}
.comment-attr .date {
  float: right;
}

.comment-body {
  margin: 4px;
  border-top: thin solid #888;
}
.comment-body .title {
  padding: 8px;
}